# Music Charts

In [2]:
from IPython.display import display
import threading, logging
import takco

def thread_function():
    tables = takco.TableSet.extract(source = {'wiki': {'pred': "http://www.wikidata.org/prop/direct/P2291", 'sample':5}})

    for table in tables:
        df = takco.extract.htmltables.tableobj_to_dataframe(table)
        display(df)
    
x = threading.Thread(target=thread_function)
x.start()
x.join()

             Source               Rating
0  Aggregate scores     Aggregate scores
1        Metacritic  75/100 (24 reviews)

                 Source         Rating
0         Review scores  Review scores
1         The A.V. Club             B+
2              AllMusic    3.5/5 stars
3  Entertainment Weekly             A−
4                 Paste         75/100
5             Pitchfork         7.6/10
6            PopMatters           8/10
7         Rolling Stone      4/5 stars
8                  Spin      3/5 stars
9             The Times      3/5 stars

,Publisher,Accolade,Year,Rank
0,ABC News,The 50 Best Albums of 2008,2009,46
1,AllMusic,AllMusic's Favorite Rock Albums of 2008,2008,"Unranked, out of 25"
2,Amazon.com editors' picks,Amazon Music: Best of 2008,2009,62
3,The Buffalo News,Best Albums (2000–2010),2010,Honorable mention
4,Chicago Sun-Times ( Jim DeRogatis ),The Best Albums of 2008,2008,2
5,Chicago Tribune ( Greg Kot ),Top Albums of 2008,2008,10
6,Magnet,Magnet's Top 25 Albums of 2008,2008,25
7,No Ripcord,Top 50 Albums of 2008,2008,38
8,Pitchfork Media,The 50 Best Albums of 2008,2008,41
9,Rolling Stone,Best Albums of 2008,2008,42
10,Rough Trade,Albums of the Year,2008,37
11,Seattle Weekly,What We Listened to in 2009,2009,"Unranked, out of 13 artists"
12,Uncut,Top 50 of 2008,2008,48
13,The Village Voice,Pazz & Jop 2008 Albums,2008,29
14,The Word,Top Albums of 2008,2009,10

           Region                            Sales charts (2008) Peak position
0          France  Syndicat National de l'Édition Phonographique           127
1  United Kingdom                                UK Albums Chart           153

          Region               Sales charts (2009) Peak position
0      Australia                 ARIA Albums Chart            66
1        Belgium  Belgian (Wallonian) Albums Chart            58
2    New Zealand  Official New Zealand Music Chart            31
3  United States                  US Billboard 200           174

                                Charts (2010) Peak position
0  Japan Billboard Adult Contemporary Airplay             9
1               Japan Billboard Japan Hot 100             4
2                  Japan Oricon daily singles             2
3                 Japan Oricon weekly singles             3
4              Japan RIAJ Digital Track Chart            38

                          Chart               Amount
0         Oricon physical sales               27,000
1  RIAJ downloads certification  Platinum (250,000+)

,Region,Date,Format,Distributing Label,Catalog codes
0,Japan,"November 30, 2009 ( 2009-11-30 )",radio debut,Victor Entertainment,
1,Japan,"December 2, 2009 ( 2009-12-02 )",ringtone,Victor Entertainment,
2,Japan,"January 6, 2010 ( 2010-01-06 )",digital download,Victor Entertainment,VEAML-23806
3,Japan,"January 13, 2010 ( 2010-01-13 )","CD single , limited edition CD single",Victor Entertainment,"VICL-36553, VICL-36554"
4,South Korea,"January 18, 2010 ( 2010-01-18 )",digital download,J-Box Entertainment,
5,Japan,"January 30, 2010 ( 2010-01-30 )",rental CD single,Victor Entertainment,"VICL-36553, VICL-36554"

                           Chart (2000–2001) Peak position
0                         Australia ( ARIA )            13
1              Austria ( Ö3 Austria Top 40 )             4
2            Belgium ( Ultratop 50 Flanders)            15
3            Belgium ( Ultratop 50 Wallonia)            14
4                 Canada Top Singles ( RPM )            41
5                    Denmark ( Tracklisten )            12
6                   Europe ( Music & Media )             3
7             Europe (European Radio Top 50)             6
8        Finland ( Suomen virallinen lista )             8
9                            France ( SNEP )            20
10        Germany ( Official German Charts )             4
11                           Greece ( IFPI )             8
12                        Hungary ( MAHASZ )             2
13      Iceland ( Íslenski Listinn Topp 40 )             9
14                          Ireland ( IRMA )             6
15                            Italy ( FIMI )            16
16              Netherlands ( Dutch Top 40 )            14
17            Netherlands ( Single Top 100 )            12
18         New Zealand ( Recorded Music NZ )            15
19                       Norway ( VG-lista )            11
20          Poland ( Polish Airplay Charts )             4
21                          Portugal ( AFP )             9
22              Romania ( Romanian Top 100 )             9
23        Scotland (Official Charts Company)             6
24                      Spain ( PROMUSICAE )            15
25              Sweden ( Sverigetopplistan )             4
26       Switzerland ( Schweizer Hitparade )             6
27      UK Singles (Official Charts Company)             7
28        UK Indie (Official Charts Company)             3
29                      US Billboard Hot 100            11
30  US Hot Dance Singles Sales ( Billboard )             2
31        US Mainstream Top 40 ( Billboard )            17
32                 US Rhythmic ( Billboard )            37

                        Chart (2001) Position
0                   Australia (ARIA)       85
1        Austria (Ö3 Austria Top 40)       41
2           Europe ( Music & Media )       42
3    Europe (European Radio Top 100)       41
4     Germany (Media Control Charts)       61
5          Romania ( Music & Media )       90
6         Sweden (Sverigetopplistan)       46
7  Switzerland (Schweizer Hitparade)       90

                     Region Certification Certified units /sales
0        Australia ( ARIA )          Gold               35,000 ^
1  Denmark ( IFPI Denmark )          Gold                4,000 ^
2           France ( SNEP )        Silver              125,000 *
3          Germany ( BVMI )          Gold              250,000 ^
4      New Zealand ( RMNZ )          Gold                5,000 *
5            Sweden ( GLF )          Gold               15,000 ^
6    United Kingdom ( BPI )        Silver              200,000 ^
7    United States ( RIAA )          Gold              500,000 ^

         Country               Date                   Format       Label Ref.
0        Germany  November 13, 2000                CD single  Jive Zomba
1         France  November 21, 2000                CD single  Jive Zomba
2          Japan   December 6, 2000                CD single  Jive Zomba
3  United States  December 12, 2000  CD single (The Remixes)  Jive Zomba
4  United States  December 12, 2000                      12"  Jive Zomba
5  United States    January 2, 2001                CD single  Jive Zomba

                                       Source         Rating
0                               Review scores  Review scores
1                                    AllMusic    4.5/5 stars
2                    Christgau's Record Guide             C–
3  Musichound Rock: The Essential Album Guide    4.5/5 stars
4                            Record Collector      4/5 stars
5               The Rolling Stone Album Guide    3.5/5 stars
6                             The Daily Vault              A

    Year                                              Chart Peak position
0   1972            Australian Albums ( Kent Music Report )             1
1   1972                            Canadian Albums ( RPM )             1
2   1972                      Danish Albums ( Tracklisten )             1
3   1972               German Albums ( Offizielle Top 100 )             2
4   2012  German Albums ( Offizielle Top 100 ) 40th Anni...            53
5   1972                            Italian Albums ( FIMI )             2
6   2015  Italian Albums ( FIMI ) The Steven Wilson 2012...            77
7   1972                     Dutch Albums ( Album Top 100 )             3
8   1972                      Norwegian Albums ( VG-lista )             3
9   1972                            UK Albums Chart ( OCC )             5
10  1972                                   US Billboard 200             1

         0             1     2                 3
0  Country  Organization  Year             Sales
1      USA          RIAA  1972  Gold (+ 500,000)

                                 Chart (2012–13) Peak position
0                             Australia ( ARIA )             4
1                  Austria ( Ö3 Austria Top 40 )             5
2           Brazil Hot 100 Airplay ( Billboard )            25
3                Belgium ( Ultratop 50 Flanders)             4
4                Belgium ( Ultratop 50 Wallonia)             3
5                    Canada ( Canadian Hot 100 )             1
6                        Canada AC ( Billboard )             1
7                Canada CHR/Top 40 ( Billboard )             1
8                    Canada Hot AC ( Billboard )             1
9                   Colombia ( National-Report )            16
10              Czech Republic ( Rádio Top 100 )             5
11    Czech Republic ( Singles Digitál Top 100 )            71
12                       Denmark ( Tracklisten )             2
13           Finland ( Suomen virallinen lista )            11
14                               France ( SNEP )             3
15            Germany ( Official German Charts )             7
16                     Hungary ( Rádiós Top 40 )             1
17                     Hungary ( Single Top 40 )             8
18                               Iceland ( RÚV )            10
19                              Ireland ( IRMA )             4
20                       Israel ( Media Forest )             2
21                                Italy ( FIMI )             3
22                       Japan ( Japan Hot 100 )             9
23      Lebanon ( The Official Lebanese Top 20 )             1
24  Luxembourg Digital Songs Sales ( Billboard )             6
25              Mexico ( Airplay ) ( Billboard )             1
26                     Mexico ( Monitor Latino )             5
27                  Netherlands ( Dutch Top 40 )             5
28                Netherlands ( Single Top 100 )            10
29             New Zealand ( Recorded Music NZ )             4
30                           Norway ( VG-lista )             7
31             Poland ( Polish Airplay Top 100 )             1
32    Portugal Digital Songs Sales ( Billboard )             4
33                       Romania ( Airplay 100 )            42
34                    Slovakia ( Rádio Top 100 )             1
35      South Korea ( Gaon International Chart )             3
36                          Spain ( PROMUSICAE )             3
37                  Sweden ( Sverigetopplistan )             6
38           Switzerland ( Schweizer Hitparade )             8
39          UK Singles (Official Charts Company)             2
40                          US Billboard Hot 100             1
41           US Adult Contemporary ( Billboard )             7
42                 US Adult Top 40 ( Billboard )             2
43             US Dance Club Songs ( Billboard )            19
44       US Dance/Mix Show Airplay ( Billboard )             8
45                US Latin Airplay ( Billboard )            21
46              US Latin Pop Songs ( Billboard )            10
47            US Mainstream Top 40 ( Billboard )             1
48                     US Rhythmic ( Billboard )             1
49           Venezuela Top 100 ( Record Report )            63
50          Venezuela Pop Rock ( Record Report )             1

                           Chart (2012) Position
0                      Australia (ARIA)       28
1        Belgium (Ultratop 50 Flanders)       94
2        Belgium (Ultratop 50 Wallonia)       73
3            Germany (Media Control AG)       64
4               Hungary (Rádiós Top 40)       49
5            Netherlands (Dutch Top 40)       62
6          Netherlands (Single Top 100)       67
7       New Zealand (Recorded Music NZ)       48
8  UK Singles (Official Charts Company)       33

                               Chart (2013) Position
0                          Australia (ARIA)       60
1            Belgium (Ultratop 50 Flanders)       22
2            Belgium (Ultratop 50 Wallonia)       11
3                 Canada (Canadian Hot 100)       11
4                Germany (Media Control AG)       90
5                   Hungary (Rádiós Top 40)       10
6                     Israel (Media Forest)       37
7                     Japan (Japan Hot 100)       31
8                Netherlands (Dutch Top 40)       45
9              Netherlands (Single Top 100)       66
10          New Zealand (Recorded Music NZ)       47
11                Russia Airplay ( Tophit )      153
12                       Spain (PROMUSICAE)       14
13               Sweden (Sverigetopplistan)       28
14        Switzerland (Schweizer Hitparade)       47
15               Ukraine Airplay ( Tophit )      111
16                     US Billboard Hot 100       11
17  US Dance/Mix Show Airplay ( Billboard )       31
18      US Adult Contemporary ( Billboard )       20
19            US Adult Top 40 ( Billboard )       12
20       US Mainstream Top 40 ( Billboard )        2
21                US Rhythmic ( Billboard )       14

      Chart (2010–2019) Position
0      Australia (ARIA)       93
1  US Billboard Hot 100       45

                                Chart Position
0         Belgium (Ultratop Flanders)      260
1         Belgium (Ultratop Wallonia)      134
2   Switzerland (Schweizer Hitparade)      704
3    US Billboard Hot 100 (1958-2018)      224
4  US Billboard Pop Songs (1992–2017)       19

                             Region     Certification Certified units /sales
0                Australia ( ARIA )       7× Platinum                490,000
1           Austria ( IFPI Austria)              Gold               15,000 *
2                   Belgium ( BEA )          Platinum               30,000 *
3           Canada ( Music Canada )       5× Platinum              400,000 *
4          Denmark ( IFPI Denmark )              Gold                 45,000
5                   France ( SNEP )          Platinum              150,000 *
6                  Germany ( BVMI )          Platinum              300,000 ^
7                    Italy ( FIMI )       3× Platinum               90,000 *
8                    Japan ( RIAJ )              Gold              100,000 ^
9               Mexico ( AMPROFON )  3× Platinum+Gold              210,000 *
10             New Zealand ( RMNZ )       2× Platinum               30,000 *
11             Spain ( PROMUSICAE )       2× Platinum                 80,000
12                   Sweden ( GLF )       3× Platinum              120,000 ^
13  Switzerland ( IFPI Switzerland)          Platinum               30,000 ^
14           United Kingdom ( BPI )       2× Platinum              1,200,000
15           United States ( RIAA )       7× Platinum              7,000,000
16               Venezuela ( APFV )       4× Platinum               40,000 ^

           0                         1            2            3
0  Streaming  Denmark ( IFPI Denmark )  2× Platinum    3,600,000
1  Streaming      Spain ( PROMUSICAE )  2× Platinum  8,000,000 ^

,Country,Date,Format,Label,Ref.
0,United States,"October 1, 2012",Mainstream radio,Atlantic Warner Music Group,
1,Italy,"October 2, 2012",Contemporary hit radio,Atlantic Warner Music Group,
2,United States,"October 25, 2012",Rhythmic contemporary,Atlantic,
3,Germany,"October 3, 2012",Digital download,Atlantic WMG,
4,Germany,"November 2, 2012",CD single,Atlantic WMG,
5,Austria,"November 2, 2012",CD single,Atlantic WMG,
6,Switzerland,"November 2, 2012",CD single,Atlantic WMG,
7,Poland,"November 5, 2012",CD single,Warner Music Poland,
8,Japan,"November 21, 2012",CD single,Atlantic WMG,
9,United Kingdom,"November 26, 2012",Digital download,Unknown,
10,United Kingdom,"January 21, 2013",Digital download,Atlantic,