# Comparison to SNoW

> Given a set of web tables and a target knowledge base, the SNoW method extends each web table with additional context columns, stitches matching web tables into larger tables, and applies functional dependency discovery to identify the relations that are represented in the web tables. Further, it normalises the stitched tables, guided by the schema of the knowledge base, to create an integrated schema.

We assume that the tables are already context-enriched, and schema-unioned per Pay-Level Domain. Our task is now to match and stitch these supertables into universal tables, and decompose them into normalised relations.

## Matching without FDs

In [6]:
%%time
from snow_pipeline import *
log.getLogger().setLevel(log.DEBUG)

snow_root = Path('~/snow/').expanduser().absolute()
kb = KB(snow_root)

Loading KB classes: 100%|██████████| 20/20 [00:03<00:00,  5.35it/s]
DEBUG:root:Made KB feature matrix of shape (20, 2336698)

CPU times: user 35.4 s, sys: 1.34 s, total: 36.7 s
Wall time: 37.7 s

In [2]:
%%time
from snow_pipeline import *
log.getLogger().setLevel(log.DEBUG)

snow_root = Path('~/snow/').expanduser().absolute()
benchmark_datasets = dict(get_snow_datasets(snow_root))
for name, ds in benchmark_datasets.items():
    print(f'{len(ds[0].fnames):3d}', name)

dataset_name = 'flightaware.com'
ts = list(takco.TableSet.dataset(benchmark_datasets[dataset_name][0]))#[-30:]
print(f"Loaded {dataset_name},  {len(ts)} tables")

 12 d3football.com
  8 www.vgchartz.com
213 www.cia.gov
 29 www.nndb.com
  6 flightaware.com
 76 itunes.apple.com
 74 seatgeek.com
 65 www.amoeba.com
 13 data.bls.gov
Loaded itunes.apple.com,  76 tables
CPU times: user 12.2 s, sys: 4.58 s, total: 16.8 s
Wall time: 12.7 s

In [24]:
%%time
tabid_df = preprocess_tables(ts)

CPU times: user 3.5 s, sys: 10.9 ms, total: 3.51 s
Wall time: 3.53 s

In [25]:
# Which features of these tables can we use to match them?
# predict_fkclasses(tabid_df, dataset_name, kb)
# for tabid, df in tabid_df.items():
#     for c, s in df.iteritems():
#         top = pd.Series(TfidfMatcher._analyzer(s.unique())).value_counts()[:3]
#         print(tabid, c, dict(top))

In [26]:
from snow_pipeline import *

matchers = [
    ExactHeadMatcher(include_context=True),
    TfidfMatcher(num_threshold=1, min_df=2),
    KBClassMatcher(kb),
]
agg_func = "KBClassMatcher * @max(ExactHeadMatcher, TfidfMatcher)"
agg_threshold_col = 0

partcols, idpairs = match_columns(tabid_df, matchers, agg_func = agg_func, agg_threshold_col=agg_threshold_col)
partcolid_to_colids = aggr_by_val(partcols.items())
partcolid_to_colids

Getting column text: 100%|██████████| 20/20 [00:02<00:00,  7.29it/s]
Extracting features: 100%|██████████| 224/224 [00:01<00:00, 112.83it/s]
DEBUG:root:Got (224, 5569) column features. Calculating similarities...
DEBUG:root:[KBClassMatcher] [6.json] Class predictions: ['uri 0:Person/6.72e-06', 'name:Single/8.36e-01', 'interpret:Band/4.91e-02', 'preis:Album/6.91e-06', 'NULL:Album/9.91e-07', 'uri 1 (album):Single/4.72e-02']
DEBUG:root:[KBClassMatcher] [60.json] Class predictions: ['uri 0:Single/1.93e-03', 'nome:Single/4.12e-01', 'album:Album/3.63e-01', 'artista:Athlete/5.39e-02', 'prezzo:Album/4.43e-04', 'NULL:Album/8.52e-04', 'uri 1 (album):Band/3.12e-02']
DEBUG:root:[KBClassMatcher] [61.json] Class predictions: ['NULL:Album/1.25e-03']
DEBUG:root:[KBClassMatcher] [62.json] Class predictions: ['uri 0:Album/7.58e-04', 'name:Single/8.59e-02', 'preis:Band/1.09e-05', 'NULL:Album/1.12e-03', 'uri 1 (podcast):Album/1.80e-03']
DEBUG:root:[KBClassMatcher] [63.json] Class predictions: ['uri 0:Company/2.16e-05', 'naam:Single/3.07e-01', 'album:Single/2.24e-01', 'artiest:Band/8.16e-02', 'prijs:Album/7.35e-04', 'NULL:Album/1.54e-03', 'uri 1 (album):Album/2.99e-03']
DEBUG:root:[KBClassMatcher] [64.json] Class predictions: ['uri 0:Company/2.16e-05', 'naam:Album/3.61e-01', 'album:Album/2.64e-01', 'prijs:Album/1.10e-03', 'NULL:Album/1.54e-03', 'uri 1 (music video):Album/3.82e-02']
DEBUG:root:[KBClassMatcher] [65.json] Class predictions: ['uri 0:Single/3.91e-05', 'nome:Single/3.47e-01', 'álbum:Single/4.14e-01', 'intérprete:Artist/4.90e-02', 'preço:Album/8.06e-04', 'NULL:VideoGame/9.57e-04', 'uri 1 (album):Single/1.84e-02']
DEBUG:root:[KBClassMatcher] [66.json] Class predictions: ['uri 0:Single/2.08e-04', 'price:Country/3.14e-04', 'NULL:Album/2.00e-03', 'uri 1 (itunes u):Artist/4.63e-03']
DEBUG:root:[KBClassMatcher] [67.json] Class predictions: ['nombre:Single/6.01e-02', 'álbum:Album/4.74e-03', 'precio:Hospital/2.82e-05', 'NULL:Album/5.64e-04']
DEBUG:root:[KBClassMatcher] [68.json] Class predictions: ['uri 0:SportsTeam/3.24e-05', 'nom:Film/4.92e-01', 'album:Country/3.97e-02', 'prix:Album/1.28e-03', 'NULL:Settlement/8.53e-04']
DEBUG:root:[KBClassMatcher] [69.json] Class predictions: ['uri 0:TelevisionShow/1.76e-04', 'namn:Single/1.08e-01', 'album:OfficeHolder/6.17e-03', 'pris:Artist/2.65e-05', 'NULL:Single/4.14e-03']
DEBUG:root:[KBClassMatcher] [7.json] Class predictions: ['uri 0:Album/4.59e-08', 'nome:Single/7.48e-01', 'álbum:Album/2.88e-01', 'preço:Album/8.23e-07', 'NULL:VideoGame/7.25e-07', 'uri 1 (album):Single/5.94e-02']
DEBUG:root:[KBClassMatcher] [70.json] Class predictions: ['uri 0:Airline/9.25e-05', 'タイトル:Film/6.62e-01', 'アルバム:Album/3.87e-01', 'アーティスト:Band/9.53e-02', 'NULL:Album/3.26e-04', 'disambiguation of page title:Single/7.63e-04', 'uri 1 (album):Single/1.15e-03']
DEBUG:root:[KBClassMatcher] [71.json] Class predictions: ['uri 0:Person/6.91e-03', 'name:Single/1.58e-01', 'album:Single/3.02e-01', 'interpret:Band/8.26e-02', 'preis:Album/1.74e-03', 'NULL:Album/3.64e-03', 'disambiguation of name:Band/5.76e-02', 'disambiguation of album:Artist/1.46e-02', 'uri 1 (album):TelevisionShow/4.57e-05']
DEBUG:root:[KBClassMatcher] [72.json] Class predictions: ['uri 0:Company/6.88e-03', 'name:Single/1.97e-01', 'album:Album/7.44e-02', 'NULL:Album/8.48e-03', 'disambiguation of page title:Album/8.09e-05']
DEBUG:root:[KBClassMatcher] [73.json] Class predictions: ['uri 0:Single/1.22e-03', 'name:VideoGame/3.50e-03', 'artist:VideoGame/1.03e-02', 'NULL:Album/1.18e-02', 'uri 1 (mix):Artist/8.61e-04']
DEBUG:root:[KBClassMatcher] [74.json] Class predictions: ['uri 0:TelevisionShow/1.01e-03', 'namn:Film/3.58e-01', 'album:Album/4.39e-01', 'artist:Artist/1.41e-02', 'pris:Artist/3.06e-04', 'NULL:Single/2.38e-02', 'uri 1 (album):Single/4.57e-02']
DEBUG:root:[KBClassMatcher] [75.json] Class predictions: ['uri 0:Artist/1.17e-03', 'price:Country/5.42e-03', 'NULL:Album/3.46e-02', 'uri 1 (podcast):Company/1.70e-02']
DEBUG:root:[KBClassMatcher] [8.json] Class predictions: ['uri 0:Single/3.87e-07', 'título:Single/8.60e-01', 'artista:Band/1.04e-01', 'NULL:Album/3.34e-07', 'uri 1 (album):Album/4.14e-02']
DEBUG:root:[KBClassMatcher] [9.json] Class predictions: ['uri 0:Band/1.84e-08', 'nome:Single/8.39e-01', 'artista:Band/3.09e-02', 'preço:Hospital/1.34e-07', 'NULL:VideoGame/9.08e-07', 'uri 1 (album):Single/3.94e-02']
DEBUG:root:Clustering columns...

{11: {"6.json~Col0 ('page title',)",
  "60.json~Col0 ('page title',)",
  "62.json~Col0 ('page title',)",
  "63.json~Col0 ('page title',)",
  "65.json~Col0 ('page title',)",
  "67.json~Col0 ('page title',)",
  "69.json~Col0 ('page title',)",
  "7.json~Col0 ('page title',)",
  "71.json~Col0 ('page title',)",
  "72.json~Col0 ('page title',)",
  "8.json~Col0 ('page title',)",
  "9.json~Col0 ('page title',)"},
 10: {"6.json~Col1 ('table heading',)",
  "60.json~Col1 ('table heading',)",
  "62.json~Col1 ('table heading',)",
  "63.json~Col1 ('table heading',)",
  "65.json~Col1 ('table heading',)",
  "67.json~Col1 ('table heading',)",
  "69.json~Col1 ('table heading',)",
  "7.json~Col1 ('table heading',)",
  "71.json~Col1 ('table heading',)",
  "72.json~Col1 ('table heading',)",
  "8.json~Col1 ('table heading',)",
  "9.json~Col1 ('table heading',)"},
 20: {"6.json~Col10 ('uri 1 (album)',)",
  "60.json~Col11 ('uri 1 (album)',)",
  "63.json~Col11 ('uri 1 (album)',)",
  "65.json~Col11 ('uri 1 (album)',)",
  "67.json~Col9 ('uri 1 (album)',)",
  "69.json~Col9 ('uri 1 (album)',)",
  "7.json~Col10 ('uri 1 (album)',)",
  "71.json~Col13 ('uri 1 (album)',)",
  "8.json~Col10 ('uri 1 (album)',)",
  "9.json~Col10 ('uri 1 (album)',)"},
 8: {"6.json~Col2 ('uri 0',)",
  "60.json~Col2 ('uri 0',)",
  "62.json~Col2 ('uri 0',)",
  "63.json~Col2 ('uri 0',)",
  "65.json~Col2 ('uri 0',)",
  "67.json~Col2 ('uri 0',)",
  "69.json~Col2 ('uri 0',)",
  "7.json~Col2 ('uri 0',)",
  "71.json~Col2 ('uri 0',)",
  "72.json~Col2 ('uri 0',)",
  "8.json~Col2 ('uri 0',)",
  "9.json~Col2 ('uri 0',)"},
 15: {"6.json~Col3 ('uri 3',)",
  "60.json~Col3 ('uri 3',)",
  "62.json~Col3 ('uri 3',)",
  "63.json~Col3 ('uri 3',)",
  "65.json~Col3 ('uri 3',)",
  "7.json~Col3 ('uri 3',)",
  "71.json~Col3 ('uri 3',)",
  "72.json~Col10 ('uri 1 (i love you because duet)',)",
  "8.json~Col3 ('uri 3',)",
  "9.json~Col3 ('uri 3',)"},
 33: {"6.json~Col4 ('NULL',)",
  "60.json~Col10 ('NULL',)",
  "62.json~Col4 ('NULL',)",
  "63.json~Col10 ('NULL',)",
  "65.json~Col10 ('NULL',)",
  "67.json~Col8 ('NULL',)",
  "69.json~Col8 ('NULL',)",
  "7.json~Col9 ('NULL',)",
  "71.json~Col4 ('NULL',)",
  "72.json~Col8 ('NULL',)",
  "8.json~Col9 ('NULL',)",
  "9.json~Col9 ('NULL',)"},
 26: {"6.json~Col5 ('name',)",
  "62.json~Col5 ('name',)",
  "71.json~Col5 ('name',)",
  "72.json~Col4 ('name',)"},
 6: {"6.json~Col6 ('interpret',)",
  "65.json~Col7 ('intérprete',)",
  "71.json~Col7 ('interpret',)"},
 9: {"6.json~Col7 ('länge',)",
  "60.json~Col8 ('durata',)",
  "63.json~Col8 ('lengte',)",
  "65.json~Col8 ('duração',)",
  "67.json~Col6 ('duración',)",
  "69.json~Col6 ('tid',)",
  "7.json~Col7 ('duração',)",
  "71.json~Col8 ('länge',)",
  "72.json~Col6 ('time',)",
  "8.json~Col7 ('duración',)",
  "9.json~Col7 ('duração',)"},
 5: {"6.json~Col8 ('preis',)",
  "60.json~Col9 ('prezzo',)",
  "62.json~Col8 ('preis',)",
  "63.json~Col9 ('prijs',)",
  "65.json~Col9 ('preço',)",
  "67.json~Col7 ('precio',)",
  "69.json~Col7 ('pris',)",
  "7.json~Col8 ('preço',)",
  "71.json~Col9 ('preis',)",
  "72.json~Col7 ('price',)",
  "8.json~Col8 ('precio',)",
  "9.json~Col8 ('preço',)"},
 13: {"6.json~Col9 ('NULL',)",
  "60.json~Col4 ('NULL',)",
  "62.json~Col9 ('NULL',)",
  "63.json~Col4 ('NULL',)",
  "65.json~Col4 ('NULL',)",
  "67.json~Col3 ('NULL',)",
  "69.json~Col3 ('NULL',)",
  "7.json~Col4 ('NULL',)",
  "71.json~Col10 ('NULL',)",
  "72.json~Col3 ('NULL',)",
  "8.json~Col4 ('NULL',)",
  "9.json~Col4 ('NULL',)"},
 0: {"60.json~Col5 ('nome',)",
  "63.json~Col5 ('naam',)",
  "65.json~Col5 ('nome',)",
  "69.json~Col4 ('namn',)",
  "7.json~Col5 ('nome',)",
  "8.json~Col5 ('título',)",
  "9.json~Col5 ('nome',)"},
 25: {"60.json~Col6 ('album',)",
  "63.json~Col6 ('album',)",
  "69.json~Col5 ('album',)",
  "71.json~Col6 ('album',)",
  "72.json~Col5 ('album',)"},
 1: {"60.json~Col7 ('artista',)",
  "71.json~Col11 ('disambiguation of name',)",
  "8.json~Col6 ('artista',)",
  "9.json~Col6 ('artista',)"},
 19: {"61.json~Col0 ('page title',)",
  "64.json~Col0 ('page title',)",
  "73.json~Col0 ('page title',)",
  "74.json~Col0 ('page title',)",
  "75.json~Col0 ('page title',)"},
 18: {"61.json~Col1 ('table heading',)",
  "64.json~Col1 ('table heading',)",
  "73.json~Col1 ('table heading',)",
  "74.json~Col1 ('table heading',)",
  "75.json~Col1 ('table heading',)"},
 32: {"61.json~Col2 ('NULL',)",
  "64.json~Col4 ('NULL',)",
  "73.json~Col4 ('NULL',)",
  "74.json~Col10 ('NULL',)",
  "75.json~Col4 ('NULL',)"},
 14: {"61.json~Col3 ('name',)",
  "73.json~Col5 ('name',)",
  "75.json~Col5 ('name',)"},
 22: {"61.json~Col4 ('album',)",
  "64.json~Col6 ('album',)",
  "74.json~Col6 ('album',)"},
 21: {"61.json~Col5 ('artist',)",
  "73.json~Col6 ('artist',)",
  "74.json~Col7 ('artist',)"},
 42: {"61.json~Col6 ('time',)",
  "64.json~Col7 ('lengte',)",
  "73.json~Col7 ('time',)",
  "74.json~Col8 ('tid',)"},
 27: {"61.json~Col7 ('price',)",
  "64.json~Col8 ('prijs',)",
  "73.json~Col8 ('price',)",
  "74.json~Col9 ('pris',)",
  "75.json~Col7 ('price',)"},
 12: {"61.json~Col8 ('NULL',)",
  "64.json~Col9 ('NULL',)",
  "73.json~Col9 ('NULL',)",
  "74.json~Col4 ('NULL',)",
  "75.json~Col8 ('NULL',)"},
 16: {"61.json~Col9 ('uri 0 (album)',)",
  "64.json~Col3 ('uri 3',)",
  "73.json~Col3 ('uri 3',)",
  "74.json~Col3 ('uri 3',)",
  "75.json~Col3 ('uri 3',)"},
 43: {"62.json~Col10 ('uri 1 (podcast)',)"},
 4: {"63.json~Col7 ('artiest',)", "67.json~Col4 ('nombre',)"},
 2: {"64.json~Col10 ('uri 1 (music video)',)", "74.json~Col5 ('namn',)"},
 17: {"64.json~Col2 ('uri 0',)",
  "73.json~Col2 ('uri 0',)",
  "74.json~Col2 ('uri 0',)",
  "75.json~Col2 ('uri 0',)"},
 23: {"64.json~Col5 ('naam',)"},
 41: {"65.json~Col6 ('álbum',)",
  "67.json~Col5 ('álbum',)",
  "7.json~Col6 ('álbum',)"},
 40: {"68.json~Col0 ('page title',)", "70.json~Col0 ('page title',)"},
 39: {"68.json~Col1 ('table heading',)", "70.json~Col1 ('table heading',)"},
 36: {"68.json~Col2 ('uri 0',)", "70.json~Col2 ('uri 0',)"},
 38: {"68.json~Col3 ('NULL',)", "70.json~Col10 ('NULL',)"},
 7: {"68.json~Col4 ('nom',)", "70.json~Col5 ('タイトル',)"},
 3: {"68.json~Col5 ('album',)", "70.json~Col6 ('アルバム',)"},
 30: {"68.json~Col6 ('durée',)", "70.json~Col8 ('時間',)"},
 29: {"68.json~Col7 ('prix',)", "70.json~Col9 ('価格',)"},
 34: {"68.json~Col8 ('NULL',)", "70.json~Col4 ('NULL',)"},
 37: {"68.json~Col9 ('uri 1 (album)',)", "70.json~Col12 ('uri 1 (album)',)"},
 35: {"70.json~Col3 ('uri 3',)"},
 31: {"70.json~Col7 ('アーティスト',)"},
 28: {"71.json~Col12 ('disambiguation of album',)"},
 24: {"74.json~Col11 ('uri 1 (album)',)"}}

In [27]:
partid_to_tabids = partition_connected_components(tabid_df, partcolid_to_colids, idpairs)
for partid, tis in partid_to_tabids.items():
    print(f"part-{partid}", len(tis), tis)

part-0 12 {'62.json', '63.json', '67.json', '6.json', '65.json', '71.json', '60.json', '72.json', '9.json', '8.json', '69.json', '7.json'}
part-1 5 {'64.json', '74.json', '61.json', '73.json', '75.json'}
part-2 1 {'66.json'}
part-3 2 {'70.json', '68.json'}

In [28]:
from snow_pipeline import *

stitched = stitch_colclustered_tables(tabid_df, partcols, idpairs)
stitched_df = {}
for partid, (df, cols) in enumerate(stitched):
    df.columns = pd.MultiIndex.from_tuples(cols)
    stitched_df[f"part-{partid}"] = df
    print(*zip(*cols))
    display( df.sample( min(5, len(df)) ) )
#     if len(df.columns) > 10:
#         break

DEBUG:root:Stitching 12 aligned tables

('NULL', 'NULL', 'preis', 'uri 0', 'table heading', 'page title', 'duração', 'uri 3', 'uri 1 (album)', 'nome', 'artista', 'name', 'interpret', 'álbum', 'album', 'artiest', 'uri 1 (podcast)', 'beschreibung', 'erschienen', 'disambiguation of album', 'disambiguation of page title')

,NULL,NULL,preis,uri 0,table heading,page title,duração,uri 3,uri 1 (album),nome,...,name,interpret,álbum,album,artiest,uri 1 (podcast),beschreibung,erschienen,disambiguation of album,disambiguation of page title
2057,1,ver no itunes,"0,99 €",pt,,itunes - música - 2 future 4 u de armand van h...,8:04,id73277577,2 future 4 u,u don't know me (featuring duane harden),...,NaN,NaN,2 future 4 u,NaN,NaN,NaN,NaN,NaN,NaN,NaN
830,1,ver en itunes,"0,99 €",es,,itunes - música - talk about love de the emeralds,3:27,id60596385,a girl who loves kurt cobain,talk about love,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3679,12,ver en itunes,"1,29 €",es,,itunes - música - ladies and gentlemen de lou ...,3:17,id306966541,god is a woman,angelina,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4880,in itunes ansehen,11,"1,29 €",de,,itunes - musik – „platinum & gold collection: ...,2:43,id291292244,platinum gold collection petula,NaN,...,i know a place,petula clark,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1221,5,ver no itunes,usd 0.99,br,,itunes - música - fallbrooke de fallbrooke,3:31,id327959592,condition response,losin' it,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

DEBUG:root:Stitching 5 aligned tables

('price', 'uri 3', 'table heading', 'page title', 'NULL', 'NULL', 'time', 'album', 'artist', 'name', 'uri 0', 'uri 1 (music video)', 'naam', 'uri 1 (mix)', 'uri 1 (album)', 'description', 'uri 1 (podcast)')

,price,uri 3,table heading,page title,NULL,NULL,time,album,artist,name,uri 0,uri 1 (music video),naam,uri 1 (mix),uri 1 (album),description,uri 1 (podcast)
10,$1.29,id5823141,,itunes - music - berlioz: overtures by san die...,view in itunes,1,7:21,the incredibles (music from the motion picture),michael giacchino,the incredits,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,"€ 0,99",id337791439,,itunes - muziekvideo's - 'mess of me' van swit...,bekijk in itunes,3,3:51,the best yet,NaN,NaN,nl,mess of me,this is home,NaN,NaN,NaN,NaN
3,$0.99,id3327656,,"itunes - music - scriabin: symphony no. 1, rêv...",view in itunes,2,9:21,holst: the planets,london symphony orchestra,"the planets, op. 32: v. saturn, the bringer of...",NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,"€ 0,99",id337791439,,itunes - muziekvideo's - 'mess of me' van swit...,bekijk in itunes,4,4:13,the best yet,NaN,NaN,nl,mess of me,only hope,NaN,NaN,NaN,NaN
10,"€ 0,69",id337791439,,itunes - muziekvideo's - 'mess of me' van swit...,bekijk in itunes,1,2:30,oh! gravity.,NaN,NaN,nl,mess of me,oh! gravity.,NaN,NaN,NaN,NaN

DEBUG:root:Stitching 1 aligned tables

('page title', 'table heading', 'uri 0', 'uri 3', 'NULL', 'name', 'description', 'released', 'price', 'NULL', 'uri 1 (itunes u)')

,page title,table heading,uri 0,uri 3,NULL,name,description,released,price,NULL,uri 1 (itunes u)
2,duncan phillips lectures - download free conte...,,us,id567592969,3,peter doig,"mar 17, 2011",3/17/2011,free,view in itunes,duncan phillips lectures
10,a seminar on expository preaching - download f...,,us,id378880148,1,personal inadequacy: the story of jehoshaphat,--,4/20/2010,free,view in itunes,seminar on expository preaching
0,duncan phillips lectures - download free conte...,,us,id567592969,1,yve-alain bois,"sep 19, 2013",9/19/2013,free,view in itunes,duncan phillips lectures
7,duncan phillips lectures - download free conte...,,us,id567592969,8,robert storr,"dec 6, 2007",12/6/2007,free,view in itunes,duncan phillips lectures
5,duncan phillips lectures - download free conte...,,us,id567592969,6,eric fischl,"jul 16, 2009",7/16/2009,free,view in itunes,duncan phillips lectures

DEBUG:root:Stitching 2 aligned tables

('page title', 'table heading', 'uri 0', 'NULL', 'タイトル', 'アルバム', '時間', '価格', 'NULL', 'uri 1 (album)', 'uri 3', 'アーティスト', 'disambiguation of page title')

,page title,table heading,uri 0,NULL,タイトル,アルバム,時間,価格,NULL,uri 1 (album),uri 3,アーティスト,disambiguation of page title
7,itunes - musique - the fire in our throats wil...,,fr,afficher sur itunes,far from fields,city of echoes,5:17,"0,99 €",8,id458377565,NaN,NaN,NaN
4,itunes - musique - the fire in our throats wil...,,fr,afficher sur itunes,city of echoes,city of echoes,7:05,"0,99 €",5,id458377565,NaN,NaN,NaN
7,itunes - ミュージック - the clancy brothers & tommy ...,,jp,8,"puff, the magic dragon","the very best of peter, paul and mary",3:28,¥200,itunes で見る,irish gold re mastered,id296460263,"peter, paul & mary",re-mastered
4,itunes - ミュージック - the clancy brothers & tommy ...,,jp,5,leaving on a jet plane,"the very best of peter, paul and mary",3:27,¥150,itunes で見る,irish gold re mastered,id296460263,"peter, paul & mary",re-mastered
0,itunes - ミュージック - the clancy brothers & tommy ...,,jp,1,sundown,gord's gold,3:33,¥200,itunes で見る,irish gold re mastered,id296460263,ゴードン・ライトフット,re-mastered

In [29]:
df = stitched_df['part-0']
print(len(df))
sim = kb._get_sim(df)
display(df.describe().T)
print(list(df.columns[list(sim.columns)]))
sim.style.background_gradient()

22645

,count,unique,top,freq
NULL,22645,62,in itunes ansehen,7284
NULL,22645,133,ver no itunes,10519
preis,22645,25,"0,99 €",6884
uri 0,22645,12,br,8559
table heading,22645,1,,22645
page title,22645,1859,itunes - musik – „the very best of“ von julie ...,126
duração,22626,689,3:48,170
uri 3,22625,1840,id335530222,126
uri 1 (album),22621,1864,i love you,126
nome,15346,12289,intro,14
artista,9532,1531,lisa stansfield,87
name,7289,6454,autumn leaves,7
interpret,7279,821,julie london,126
álbum,5805,2160,greatest hits,31
album,60,48,v,4
artiest,25,25,tokoloshe man,1
uri 1 (podcast),19,1,in broad daylight,19
beschreibung,19,19,the penultimate episode of our tale.,1
erschienen,19,13,27.12.2011,3
disambiguation of album,5,4,deluxe version,2
disambiguation of page title,5,1,duet,5

[('NULL',), ('uri 0',), ('table heading',), ('uri 1 (album)',), ('nome',)]

In [30]:
tabid_to_colnr_and_fkclass = predict_fkclasses(stitched_df, dataset_name, kb)
tabid_to_colnr_and_fkclass

DEBUG:root:[itunes.apple.com] [part-0] Class predictions: ['NULL:Single/2.86e-05', 'uri 0:Person/3.43e-06', 'uri 1 (album):Single/5.38e-02', 'nome:Single/4.72e-01']
DEBUG:root:[itunes.apple.com] [part-1] Class predictions: ['NULL:Album/2.77e-03', 'artist:Band/3.35e-02', 'uri 0:Company/8.10e-05']
DEBUG:root:[itunes.apple.com] [part-2] Class predictions: ['uri 0:Single/2.08e-04', 'price:Country/3.14e-04', 'NULL:Album/2.00e-03', 'uri 1 (itunes u):Artist/4.63e-03']
DEBUG:root:[itunes.apple.com] [part-3] Class predictions: ['uri 0:Airline/5.52e-05', 'NULL:Settlement/4.14e-03', 'タイトル:Film/6.85e-01', 'アルバム:Country/1.37e-01', 'uri 1 (album):Single/5.97e-04']

{'part-0': (9, 'Single'),
 'part-1': (8, 'Band'),
 'part-2': (10, 'Artist'),
 'part-3': (4, 'Film')}

In [31]:
nary_induction = True
decomposed = iter_decomposed(
    stitched_df, 
    dataset_name, 
    tabid_to_colnr_and_fkclass, 
    nary=nary_induction, 
    nary_stoplevel=2, 
    nary_minp= 0.95
)
for t in postprocess_tables(decomposed, numeric_threshold=0.5):
    print(f"{t._id}: {len(t.df)} rows")
    display( t.df.sample(min(len(t.df), 3)) )

DEBUG:root:[itunes.apple.com] [part-0] Decomposing class Single for col 9 (('nome',))
DEBUG:root:[itunes.apple.com] [part-0] Not decomposing context columns [('uri 0',), ('table heading',), ('page title',), ('uri 3',), ('uri 1 (album)',), ('uri 1 (podcast)',), ('disambiguation of album',), ('disambiguation of page title',)]
DEBUG:root:[itunes.apple.com] [part-0] Inferring FDs for [NULL|uri 0|uri 1 (album)|FK]
FD candidates: 100%|██████████| 7/7 [00:04<00:00,  1.59it/s]
DEBUG:root:[itunes.apple.com] [part-0] Got FD key [uri 1 (album)|NULL|FK] -> [NULL|preis|duração|artista|name|interpret|álbum|album|artiest|beschreibung|erschienen]

Single_itunes.apple.com_fd_0.json: 22377 rows

,NULL,uri 1 (album),NULL,FK
3379,5.0,charm,ver no itunes,Single_itunes.apple.com~Row11305
4689,9.0,dont you want me king britt,ver no itunes,Single_itunes.apple.com~Row3112
7683,28.0,hush,ver en itunes,Single_itunes.apple.com~Row5098

Single_itunes.apple.com_fd_1.json: 22177 rows

,preis,uri 1 (album),NULL,FK
5994,99.0,free spirits,ver no itunes,Single_itunes.apple.com~Row10556
10006,0.99,knock 3 times,ver no itunes,Single_itunes.apple.com~Row9793
11092,1.9,look into the future,2,Single_itunes.apple.com~Row0

Single_itunes.apple.com_fd_2.json: 22458 rows

,duração,uri 1 (album),NULL,FK
7519,509.0,hook up,ver no itunes,Single_itunes.apple.com~Row1164
12777,706.0,my little suede shoes,ver no itunes,Single_itunes.apple.com~Row330
2937,240.0,buying time,ver en itunes,Single_itunes.apple.com~Row1931

Single_itunes.apple.com_fd_3.json: 9480 rows

,artista,uri 1 (album),NULL,FK
7100,kevin spacey,some of these days,ver no itunes,Single_itunes.apple.com~Row3097
2015,james brown & his famous flames,doing it to death,ver en itunes,Single_itunes.apple.com~Row6305
4173,enter shikari,jonny sniper acid nation ep,ver en itunes,Single_itunes.apple.com~Row8187

Single_itunes.apple.com_fd_4.json: 7279 rows

,name,uri 1 (album),NULL,FK
5431,tailgate ramble,sounds of new orleans vol. 6,7.0,Single_itunes.apple.com~Row0
5452,lovable,specialty profiles sam cooke,7.0,Single_itunes.apple.com~Row0
5521,make it happen,step into the sunshine,6.0,Single_itunes.apple.com~Row0

Single_itunes.apple.com_fd_5.json: 7161 rows

,interpret,uri 1 (album),NULL,FK
1420,don cherry,dont let stars get in your,3.0,Single_itunes.apple.com~Row0
1829,glee cast,glee music presents warblers,11.0,Single_itunes.apple.com~Row0
1627,the antlers,familiars,1.0,Single_itunes.apple.com~Row0

Single_itunes.apple.com_fd_6.json: 5773 rows

,álbum,uri 1 (album),NULL,FK
4903,tea cozy hat,the queen,ver no itunes,Single_itunes.apple.com~Row9753
1981,the company you keep,i saw a stranger with your hair,ver no itunes,Single_itunes.apple.com~Row11444
1806,highway to hell (the ultimate ac/dc tribute),highway to hell,ver no itunes,Single_itunes.apple.com~Row9408

Single_itunes.apple.com_fd_7.json: 57 rows

,album,uri 1 (album),NULL,FK
1,the essential elvis presley (remastered),,view in itunes,Single_itunes.apple.com~Row0
5,beyoncé,blue jeans remixes ep,bekijk in itunes,Single_itunes.apple.com~Row12
42,heart 4 sale,riviera life,bekijk in itunes,Single_itunes.apple.com~Row7

Single_itunes.apple.com_fd_8.json: 25 rows

,artiest,uri 1 (album),NULL,FK
22,alex swings oscar sings!,riviera life,bekijk in itunes,Single_itunes.apple.com~Row7
8,kinky afro,id43463416,ver en itunes,Single_itunes.apple.com~Row0
7,clap your hands,id43463416,ver en itunes,Single_itunes.apple.com~Row0

Single_itunes.apple.com_fd_9.json: 19 rows

,beschreibung,uri 1 (album),NULL,FK
8,the penultimate episode of our tale.,,17.0,Single_itunes.apple.com~Row0
1,harding and martinez have the reckoning she th...,,10.0,Single_itunes.apple.com~Row0
3,jess harding finds herself in a very sticky si...,,12.0,Single_itunes.apple.com~Row0

Single_itunes.apple.com_fd_10.json: 19 rows

  erschienen uri 1 (album)  NULL                            FK
8                           17.0  Single_itunes.apple.com~Row0
6                           15.0  Single_itunes.apple.com~Row0
2                           11.0  Single_itunes.apple.com~Row0

DEBUG:root:[itunes.apple.com] [part-1] Decomposing class Band for col 8 (('artist',))
DEBUG:root:[itunes.apple.com] [part-1] Not decomposing context columns [('uri 3',), ('table heading',), ('page title',), ('uri 0',), ('uri 1 (music video)',), ('uri 1 (mix)',), ('uri 1 (album)',), ('uri 1 (podcast)',)]
DEBUG:root:[itunes.apple.com] [part-1] Inferring FDs for [NULL|album|FK|name|uri 0]
FD candidates: 100%|██████████| 11/11 [00:00<00:00, 26.00it/s]
DEBUG:root:[itunes.apple.com] [part-1] Got FD key [FK|name] -> [price|NULL|NULL|time|album|naam|description]

Band_itunes.apple.com_fd_0.json: 30 rows

,price,FK,name
13,0.99,Band_itunes.apple.com~Row7,"cantus arcticus, op. 61 (concerto for birds an..."
15,0.99,Band_itunes.apple.com~Row9,tico-tico
19,129.0,Band_itunes.apple.com~Row0,

Band_itunes.apple.com_fd_1.json: 28 rows

,NULL,FK,name
2,view in itunes,Band_itunes.apple.com~Row17,"piano sonata no. 14 in c-sharp minor, op. 27: ..."
1,view in itunes,Band_itunes.apple.com~Row15,cathy's theme from wuthering heights
19,1,Band_itunes.apple.com~Row1,

Band_itunes.apple.com_fd_2.json: 31 rows

,NULL,FK,name
25,2.0,Band_itunes.apple.com~Row0,boostie sample from the 2nd electro attack max...
30,4.0,Band_itunes.apple.com~Row22,earthquake weather
20,5.0,Band_itunes.apple.com~Row0,

Band_itunes.apple.com_fd_3.json: 40 rows

,time,FK,name
5,559.0,Band_itunes.apple.com~Row5,"the planets, op. 32: vi. uranus, the magician"
31,432.0,Band_itunes.apple.com~Row0,
11,256.0,Band_itunes.apple.com~Row4,"turandot, act iii: nessun dorma!"

Band_itunes.apple.com_fd_4.json: 31 rows

,album,FK,name
10,"orchestral music (nordic): rautavaara, e. - pi...",Band_itunes.apple.com~Row6,"cantus arcticus, op. 61, ""concerto for birds a..."
16,the incredibles (music from the motion picture),Band_itunes.apple.com~Row10,the incredits
12,pirates of the caribbean: swashbuckling sea songs,Band_itunes.apple.com~Row12,"yo, ho (a pirate's life for me)"

Band_itunes.apple.com_fd_5.json: 15 rows

,naam,FK,name
4,nothing else matters,Band_itunes.apple.com~Row0,
1,"nights in white satin (the night) [including ""...",Band_itunes.apple.com~Row0,
2,the day that never comes,Band_itunes.apple.com~Row0,

Band_itunes.apple.com_fd_6.json: 2 rows

,description,FK,name
1,"buy the new maxi single at itunes, amazon, jun...",Band_itunes.apple.com~Row0,boostie sample from the 3rd electro attack max...
0,"buy the new maxi single at itunes, amazon, jun...",Band_itunes.apple.com~Row0,boostie sample from the 2nd electro attack max...

DEBUG:root:[itunes.apple.com] [part-2] Decomposing class Artist for col 10 (('uri 1 (itunes u)',))
DEBUG:root:[itunes.apple.com] [part-2] Not decomposing context columns [('page title',), ('table heading',), ('uri 0',), ('uri 3',)]
DEBUG:root:[itunes.apple.com] [part-2] Inferring FDs for [uri 0|name|description|released|price|NULL|FK]
FD candidates: 100%|██████████| 22/22 [00:00<00:00, 61.79it/s]
DEBUG:root:[itunes.apple.com] [part-2] Got FD key [FK|name] -> [NULL|description|released|price|NULL]

Artist_itunes.apple.com_fd_0.json: 14 rows

,NULL,FK,name
9,1.0,Artist_itunes.apple.com~Row1,videopoverty and economic justice scholarship ...
7,1.0,Artist_itunes.apple.com~Row0,yve-alain bois
12,2.0,Artist_itunes.apple.com~Row3,videodean's lecture series: the fate of vulner...

Artist_itunes.apple.com_fd_1.json: 14 rows

,description,FK,name
11,--,Artist_itunes.apple.com~Row2,prepare the way of the lord: the story of john...
7,"sep 19, 2013",Artist_itunes.apple.com~Row0,yve-alain bois
6,"jul 16, 2009",Artist_itunes.apple.com~Row0,eric fischl

Artist_itunes.apple.com_fd_2.json: 14 rows

,released,FK,name
6,7/16/2009,Artist_itunes.apple.com~Row0,eric fischl
9,2/14/2011,Artist_itunes.apple.com~Row1,videopoverty and economic justice scholarship ...
12,10/1/2010,Artist_itunes.apple.com~Row3,videodean's lecture series: the fate of vulner...

DEBUG:root:[itunes.apple.com] [part-3] Decomposing class Film for col 4 (('タイトル',))
DEBUG:root:[itunes.apple.com] [part-3] Not decomposing context columns [('page title',), ('table heading',), ('uri 0',), ('uri 1 (album)',), ('uri 3',), ('disambiguation of page title',)]
DEBUG:root:[itunes.apple.com] [part-3] Inferring FDs for [uri 0|NULL|FK|アルバム|uri 1 (album)]
FD candidates: 100%|██████████| 11/11 [00:00<00:00, 44.28it/s]
DEBUG:root:[itunes.apple.com] [part-3] Got FD key [FK] -> [NULL|アルバム|時間|価格|NULL|アーティスト]

Film_itunes.apple.com_fd_0.json: 18 rows

                   NULL                          FK
16                    5  Film_itunes.apple.com~Row4
12                    2  Film_itunes.apple.com~Row1
8   afficher sur itunes  Film_itunes.apple.com~Row8

Film_itunes.apple.com_fd_1.json: 18 rows

                     アルバム                           FK
2          city of echoes  Film_itunes.apple.com~Row12
5          city of echoes  Film_itunes.apple.com~Row15
13  greatest hits, vol. 1   Film_itunes.apple.com~Row6

Film_itunes.apple.com_fd_2.json: 18 rows

      時間                           FK
8  509.0   Film_itunes.apple.com~Row8
1  506.0  Film_itunes.apple.com~Row11
9  720.0   Film_itunes.apple.com~Row9

Film_itunes.apple.com_fd_3.json: 18 rows

       価格                           FK
11  200.0   Film_itunes.apple.com~Row0
17  200.0   Film_itunes.apple.com~Row7
6    99.0  Film_itunes.apple.com~Row16

Film_itunes.apple.com_fd_4.json: 18 rows

   NULL                           FK
14        Film_itunes.apple.com~Row5
17        Film_itunes.apple.com~Row7
4   7.0  Film_itunes.apple.com~Row14

Film_itunes.apple.com_fd_5.json: 8 rows

               アーティスト                          FK
4         ゴードン・ライトフット  Film_itunes.apple.com~Row5
7  peter, paul & mary  Film_itunes.apple.com~Row7
3          ジェイムス・テイラー  Film_itunes.apple.com~Row6

Single_itunes.apple.com.json: 12290 rows

                                   PK    rdf-schema#label
9200  Single_itunes.apple.com~Row9200     i luv halloween
8628  Single_itunes.apple.com~Row8628  ten thousand fists
4756  Single_itunes.apple.com~Row4756  because i love her

Band_itunes.apple.com.json: 23 rows

                             PK rdf-schema#label
20  Band_itunes.apple.com~Row20      arcade fire
22  Band_itunes.apple.com~Row22             beck
18  Band_itunes.apple.com~Row18   mitsuko uchida

Artist_itunes.apple.com.json: 4 rows

                             PK                      rdf-schema#label
2  Artist_itunes.apple.com~Row2       seminar on expository preaching
1  Artist_itunes.apple.com~Row1  poverty economic justice scholarship
0  Artist_itunes.apple.com~Row0              duncan phillips lectures

Film_itunes.apple.com.json: 18 rows

                           PK       rdf-schema#label
0  Film_itunes.apple.com~Row0                sundown
2  Film_itunes.apple.com~Row2              the boxer
3  Film_itunes.apple.com~Row3  the fields of athenry

INFO:root:[itunes.apple.com] Created tables for classes: {'Single': 11, 'Band': 7, 'Artist': 3, 'Film': 6}